.container
    .page-header
        h1
          | About
      .row
        .col-md-6
          p(style='font-size:20px;')
            | The EnoTe is a simple note app helps you remember english phase you have encountered in daily life.
