.container
    .page-header
        h1
          | Contact Us
      .row
        .col-md-6
          p(style='font-size:20px;')
            | EnoTe is currently in beta. If you have any questions, feed free to contact us via:
          ul.icons
            li
              p(style='font-size:20px;')
                span(class="glyphicon glyphicon-phone")
                |  +201-875-8281 / 818-606-1982
            li
              p(style='font-size:20px;')
                span(class="glyphicon glyphicon-envelope")
                  a(href='mailto:lastforeverzl@gmail.com') lastforeverzl@gmail.com
                  a(href='mailto:enthalpy.yan@gmail.com')  enthalpy.yan@gmail.com