section
  #main-content(ng-cloak, ng-init='loadNotes(12)')
    .container(style='padding-top: 108px;')
      .row
        .col-md-12
          .alert.alert-info.my-alert(ng-click='loadNewNote()', ng-model='newNoteCount', ng-show='newNoteFlag', ng-animate="{show: 'fadeIn'}")
            | You have {{newNoteCount}} new note. Click to refresh.
        div(ng-repeat='item in note.notes')
          div(class='col-sm-6 col-md-3')
            div(class='col-md-12', id='note')
              article
                .row 
                  .note-tag-bar.col-md-12
                    header
                      | {{item.createdAt | date:'MMM dd'}}
                .row
                section
                  | {{item.sentence}}   

      .row
        .col-md-12
          div(id='load-more-bar', ng-show='note.notes.length != 0', ng-click='nextPage()')
            p(id='more')
              | MORE
            #fadingBarsG(ng-show='note.notes.busy == true')
              #fadingBarsG_1.fadingBarsG
              #fadingBarsG_2.fadingBarsG
              #fadingBarsG_3.fadingBarsG
              #fadingBarsG_4.fadingBarsG
              #fadingBarsG_5.fadingBarsG
              #fadingBarsG_6.fadingBarsG
              #fadingBarsG_7.fadingBarsG
              #fadingBarsG_8.fadingBarsG

    footer
      #foot-nav(ng-show='note.notes.length != 0')
        p
          | Copyright Enote 2013
