section
  #main-content(ng-cloak, ng-init='loadNotes(9)')
    .row
      .container
        div(ng-repeat='item in note.notes')
          div(class='col-sm-6 col-md-4')
            div(class='col-md-12', id='note')
              article
                header
                  .ribbon(title='I AM P')
                    | P
    .row
      .container 
        .col-md-12
          div(id='load-more-bar', ng-show='note.notes.length != 0', ng-click='nextPage()')
            p(id='more')
              | MORE
    footer
      #foot-nav(ng-show='note.notes.length != 0')
        p
          | Copyright Enote 2013
