extends layout

block body
  div(ng-controller='MyCtrl1', ng-init='getNotesLength()')
    div(class="notes-grid-container", infinite-scroll='loadMore(limit)', infinite-scroll-disabled='endOfLine', class='ng-cloak')
      div(ng-repeat='note in notes')
        div(style='width: 800px; height: 200px; margin: auto 0; background-color: grey; margin-top: 10px;')
          p
            | {{note.sentence}}

  script(src='/socket.io/socket.io.js')
  script(src='bower_components/angular/jquery.js')
  script(src='bower_components/angular/bootstrap.min.js')
  script(src='bower_components/angular/angular.js')
  script(src='bower_components/angular/ng-infinite-scroll.js')
  script(src='bower_components/angular-socket-io/socket.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
