/* Global app css stylesheet */

/* 
  Allow angular.js to be loaded in body, hiding cloaked elements until 
  templates compile.  The !important is important given that there may be 
  other selectors that are more specific or come later and might alter display.  
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/*Remove Safari/Chrome textinput/textarea glow*/
:focus {
  outline-color: transparent;
  outline-style: none;
}

/*
	nav bar color
*/

/* navbar */
.navbar-inverse {
  background-color: #34495e;
  border: 0px;
}

/* title */
.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}

.navbar-inverse .navbar-brand .a:hover{
  color: #000000;
}

/* link */
.navbar-inverse .navbar-nav > li > a {
  color: #5E5E5E;
}

/*toggle*/
.navbar-inverse .navbar-toggle {
	border: 0px;
}

/*nav bar form*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border: 0px;
}

/* active link */
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #FFFFFF;
}

/*Reset input bar style*/
.input-bar-container {
  position: fixed; 
  z-index: 10; 
  background-color: #eee; 
  left: 0; 
  width: 100%;
}

input[type=text]
{
    background-color: #f8f8f8;
    border:solid 1px #BFBDBD;
    color: #979797;
    height: 28px;
    padding-left:10px;
    width: 191px;
}
input[type=button]
{
    background-color: #1E1E1E;
    color: #979797;
    height: 24px;
    width: 103px;
    color: #bbbbbb;
    text-transform:uppercase;
    box-shadow:-1px 2px #6E6B6A inset;
}

input[type=button], input[type=text]
{
    border: 1;
    border-radius: 0px;
    font-family: Sansation,Arial;
}

input:focus {
  -webkit-box-shadow: 0 0 3px 1px #4d90fe;
  -moz-box-shadow: 0 0 3px 1px #4d90fe;
  box-shadow: 0 0 3px 1px #4d90fe;
}

.form-group {
	width: 25em;
}

ul {
  list-style-type: none;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  background-color: #eee;
  padding-top: 3em;
}

.item {
  height: 230px;
}

.noteStyle {
	background-color: #f8f8f8;
	height: 230px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;;
  -o-transition: all 0.3s ease-in-out;;
  transition: all 0.3s ease-in-out;;

}

.noteDetail {
	height: 500px;
	background-color: #f8f8f8;
}

.tag-bar-date {
  color: #f8f8f8; 
  font-size: 20px; 
  margin-top: 5px;
}

.note-tag-bar {
	height: 40px;
	background-color: grey;
}

.edit-icon {
	font-size: 18px; 
	margin-top: 10px;
	color: #f8f8f8;
}

.edit-delete {
	font-size: 18px; 
	margin-top: 10px;
	color: #f8f8f8;
}

/*Icon fade in animation*/
.fadeIn, .fadeOut {
  -webkit-transition: 0.5s linear opacity;
  -moz-transition: 0.5s linear opacity;
  -o-transition: 0.5s linear opacity;
  transition: 0.5s linear opacity;
}
.fadeIn{
  opacity:0;
}
.fadeOut{
  opacity:1;
}
.fadeIn.fadeIn-active {
  opacity: 1;
}
.fadeOut.fadeOut-active{
    opacity:0;
}

.fadeIn, .fadeOut {
  -webkit-transition: 0.5s linear opacity;
  -moz-transition: 0.5s linear opacity;
  -o-transition: 0.5s linear opacity;
  transition: 0.5s linear opacity;
}
.fadeIn{
  opacity:0;
}
.fadeOut{
  opacity:1;
}
.fadeIn.fadeIn-active {
  opacity: 1;
}
.fadeOut.fadeOut-active{
    opacity:0;
}

/*note content stylesheet*/
.note-content {
  margin-top: 9px;
  color: #777;
  font-size: 18px;
}


/*Add new note container stylesheet*/

.new-note-container {
  height: 600px;
  background-color: #f8f8f8;
}

.add-note-container {
  padding-top: 3em;
}

.add-note-tag-bar-container {
  height: 60px;
  background-color: #95a5a6;
}



