/*global stylesheets*/

body {
  	background-color: #f0f0f0;
  	font-family: 'Roboto', sans-serif;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/*fade in/fade out animation*/
.fadeIn, .fadeOut {
  -webkit-transition: 0.5s linear opacity;
  -moz-transition: 0.5s linear opacity;
  -o-transition: 0.5s linear opacity;
  transition: 0.5s linear opacity;
}
.fadeIn{
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
}
.fadeOut{
  opacity: 1;
   -webkit-opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
}
.fadeIn.fadeIn-active {
  opacity: 1;
   -webkit-opacity: 1;
  -moz-opacity: 1;
  -o-opacity: 1;
}
.fadeOut.fadeOut-active{
  opacity: 0;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
}

/*End of global variables*/


/*Custom stylesheets*/

#main-container {
}

.my-alert {
	text-align: center;
	cursor: pointer;
}

#note {
	height:280px; 
	background-color: #fff;
	margin-bottom: 31px;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
}

#load-more-bar {
	background-color: #dfdfdf;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 50px;
	bottom: 0;
	cursor: pointer;
}

#more {
	background: #dfdfdf;
	display: block;
	padding: 1em 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.4em;
	color: rgba(0,0,0,0.3);
}

#more:hover {
	background: #c1c1c1;
}

.note-tag-bar {
    background: #2980b9;
    height: 40px;
    padding-top: 10px;
    color: #fff;
}

#foot-nav>p {
	text-align: center;
	color: #777;
	padding-bottom: 10px;
}

/*Search bar stylesheets*/
.search-bar-container>form input {
    background-color: #fff;
    height: 50px;
    right: 0;
    font-size: .8em;
    border: 0;
    padding-left: 50px;
    color: #88818d;
    outline: none;
}

input[type=text] {
    width: 0;
    padding: 3px 0px 3px 40px;
    min-height: 50px;
    font-size: 1.4em;
    -webkit-transition: width .3s ease;
    -moz-transition: width .3s ease;
    -o-transition: width .3s ease;
    transition: width .3s ease;
}

input[type=text]:focus {
    width: 200px;
    padding: 3px 0px 3px 50px;
    min-height: 50px;
    font-size: 1.4em;
    box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.2);
    /*border glow*/
/*    -moz-box-shadow: inset 0 0 3px 3px rgba(39, 174, 96, .15);
	-webkit-box-shadow: inset 0 0 3px 3px rgba(39, 174, 96, .15);
	box-shadow: inset 0 0 3px 3px rgba(39, 174, 96, .15);*/
}

input.icon-search {
    background:url(../../img/search-icon.png) 10px no-repeat;
    background-size: 33px 33px;
}

/* normal devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
	.my-navbar {
		border-top: 10px solid #27ae60;
		padding: 15px 0 8px 0px;
		-webkit-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
		box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.05);
	}

	#main-content {
		padding-top: 20px;
	}

	.navbar .nav>li>a {
		margin-top: 11px;
		margin-left: 10px;
		padding-top: 5px;
	}

	.search-bar-container {
		display: block;
		position: absolute;
		right: 140px;
	}
}

/* Small devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {

/*	.navbar-default {
  		background-color: #27ae60;
  	}*/

	.search-bar-container {
		display: block;
		position: absolute;
		right: 60px;
		top:0; /*Put search bar inside menu*/
	}
}








